*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    min-height: 480px;
    border: 1px solid red;
}

.container form span.sign-in, .container form span.sign-up{
    display: none;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #2d7ba8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px;
    height: 100%;
    position: absolute;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}

.social-icons{
    margin: 20px 0; 
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;  
    overflow: hidden;
    border-radius: 150px 0 0 150px;
}

.toggle{
    background-color: #5cacc0;
    height: 100%;
    background: linear-gradient(to right, #5cacc0, #392da8);
    color: #fff;
    position: relative;
    height: 100%;
    width: 200%;
}

.toggle:hover{
    scale: 110%;            /* quando passar o mouse a escala cresce 10% */
    transition-duration: 200ms;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
}

@media screen and (max-width: 767.98px) {
    body{
        background-color: #fff;
        background: none;
    }
    .container{
        width: 100%;
        min-height: 520px;
        max-height: 80%;
        border: none;
        box-shadow: none;
    }
    .container form{
        width: 100%;
        padding: 0 30px;
    }
    .container form span.sign-in, .container form span.sign-up{
        display: block;
    }
    .container h1{
        font-size: 26px;
    }
    .social-icons a{
        width: 38px;
        height: 38px;
    }
    .toggle-container{
        display: none;
    }
}